* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: white;
    background-color: #222222;
    overflow: hidden;
}

header {
    grid-area: h;
    padding: 1rem;
    background-color: #111111;
}

#project-name {
    font-size: 3rem;
}

main {
    grid-area: m;
}

nav {
    grid-area: n;
}

#navbar-list {
    height: 100%;
    display: flex;
    align-items: stretch;
}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #444444;
    border: solid 1px #222222;
    font-size: 2.5rem;
}

.navbar-item:hover {
    color: black;
    background-color: orange;
    cursor: pointer;
}

#sidebar {
    border: solid 1px black;
    padding: 2rem;
    grid-area: s;
}

#current-sidebar {
    font-size: 3rem;
    border-bottom: solid 1px white;
    margin-bottom: 1rem;
}

.setting-item {
    margin: 1rem 0;
}

#scale-slider {
    width: 80%;
}

#scale-label {
    font-size: 2.5rem;
}

.setting-header {
    font-size: 2rem;
}

#settings-menu {
}

#location-menu {
}

#content-menu {
}

#finish-menu {
}

.hidden {
    display: none;
}

.selected {
    background-color: yellow;
    color: black;
}

#upload-menu {
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: f;
}

.instruct {
    display: inline-block;
    font-size: 2rem;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows:
        minmax(0, 50px)
        minmax(0, 50px)
        minmax(0, auto)
        minmax(0, 50px);
    grid-template-columns: minmax(400px, auto) minmax(300px, 400px);
    grid-template-areas:
        "h h"
        "n n"
        "m s"
        "f f"
}

canvas {
    outline: none;
    height: 100%;
    width: 100%;
}

